<a href="https://colab.research.google.com/github/Granero0011/AB-Demo/blob/master/Work_in_progress_build_safe_routes_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [10]:
words= ["acc_aux", 'accident', 'cevent','Damage','Distract','DrImpair','Factor', 'Maneuver','NMImpair', 'NMPrior', 'PBtype', 'SafetyEq','VEvent', 'VINDecode', 'VSOE', 'Violatn', 'Vision', 'miacc','midrvacc', 'miper', 'nmcrash','parkwork', 'per_aux',
       'person', 'veh_aux', 'vehicle']

acc_aux =pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/acc_aux.csv")
accident= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/accident.csv")
cevent= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/cevent.csv")
Damage= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/Damage.csv")
Distract= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/Distract.csv")
DrImpair= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/DrImpair.csv")
Factor= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/Factor.csv")
Maneuver= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/Maneuver.csv")
NMImpair= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/NMImpair.csv")
NMPrior= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/NMPrior.csv")
PBtype= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/PBType.csv")
SafetyEq= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/SafetyEq.csv")
VEvent= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/VEvent.csv")
VINDecode= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/VINDecode.csv")
VSOE= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/VSOE.csv")
Violatn= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/Violatn.csv")
Vision= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/Vision.csv")
miacc= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/miacc.csv")
midrvacc= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/midrvacc.csv")
miper= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/miper.csv")
nmcrash= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/nmcrash.csv")
parkwork= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/parkwork.csv")
per_aux= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/per_aux.csv")
person= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/person.csv")
veh_aux= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/veh_aux.csv")
vehicle= pd.read_csv("https://raw.githubusercontent.com/Granero0011/Data-Science/master/datasets/FARS2017NationalCSV/vehicle.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (31,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (101,102) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
accident.head(20)

    STATE  ST_CASE  VE_TOTAL  VE_FORMS  ...  CF2  CF3  FATALS  DRUNK_DR
0       1    10001         1         1  ...    0    0       1         0
1       1    10002         1         1  ...    0    0       1         0
2       1    10003         3         3  ...    0    0       1         0
3       1    10004         1         1  ...    0    0       1         0
4       1    10005         1         1  ...    0    0       1         0
5       1    10006         2         2  ...    0    0       1         0
6       1    10007         2         2  ...    0    0       1         0
7       1    10008         1         1  ...    0    0       1         0
8       1    10009         1         1  ...    0    0       1         0
9       1    10010         1         1  ...    0    0       1         0
10      1    10011         2         2  ...    0    0       2         0
11      1    10012         2         2  ...    0    0       1         0
12      1    10013         2         2  ...    0    0       2         1
13      1    10014         3         3  ...    0    0       1         1
14      1    10015         1         1  ...    0    0       1         1
15      1    10016         1         1  ...    0    0       1         0
16      1    10017         1         1  ...    0    0       1         1
17      1    10018         2         2  ...    0    0       1         0
18      1    10019         1         1  ...    0    0       3         0
19      1    10020         1         1  ...    0    0       1         0

[20 rows x 52 columns]

In [12]:
acc_aux.head(20)

    YEAR  STATE  ST_CASE  COUNTY  ...  A_DROWSY  BIA  SPJ_INDIAN  INDIAN_RES
0   2017      1    10001      73  ...         2    0           0           0
1   2017      1    10002      89  ...         2    0           0           0
2   2017      1    10003     101  ...         2    0           0           0
3   2017      1    10004      73  ...         2    0           0           0
4   2017      1    10005      13  ...         2    0           0           0
5   2017      1    10006      49  ...         2    0           0           0
6   2017      1    10007      73  ...         2    0           0           0
7   2017      1    10008       3  ...         2    0           0           0
8   2017      1    10009      87  ...         2    0           0           0
9   2017      1    10010      73  ...         2    0           0           0
10  2017      1    10011      87  ...         2    0           0           0
11  2017      1    10012      85  ...         2    0           0           0
12  2017      1    10013      83  ...         2    0           0           0
13  2017      1    10014      43  ...         2    0           0           0
14  2017      1    10015     121  ...         2    0           0           0
15  2017      1    10016     121  ...         2    0           0           0
16  2017      1    10017     101  ...         2    0           0           0
17  2017      1    10018     121  ...         2    0           0           0
18  2017      1    10019      55  ...         2    0           0           0
19  2017      1    10020      89  ...         2    0           0           0

[20 rows x 41 columns]